body, html {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

.pageContainer {
	height: 100%;
	width: 100%;
	background-color: #333;
}

.appTitle {
	display: table;
	float: left;
	font-size: 20px;
	font-weight: 100;
	font-family: 'Josefin Sans', sans-serif;
	height: 50px;
	width: 50px;
	color: white;
	text-align: center;
	background-color: transparent;
	background-color: #68DBC0;
	background-image: url('https://app.vueanalytics.co/static/VueLogo02.png');
	background-size: cover;
}

.mainAppTitleBar {
	height: 50px;
	background-color: #222326;
	/*border-bottom: 1px solid #2C2C2C;*/
}

.mainContainer {
	background-color: #121314;
	width: 100%;
	height: calc(100% - 50px);
	color: #f7f7f7;
}

.mainApp {
	margin: 50px 0 0 50px;
	height: 100%;
	font-family: "Lato", sans-serif;
	font-weight: 300;
	width: calc(100% - 50px);
	position: fixed;
}