body, html {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

.pageContainer {
	height: 100%;
	width: 100%;
	background-color: #333;
}

.appTitle {
	display: table;
	float: left;
	font-size: 20px;
	font-weight: 100;
	font-family: 'Josefin Sans', sans-serif;
	height: 50px;
	width: 50px;
	color: white;
	text-align: center;
	background-color: transparent;
	background-color: #68DBC0;
	background-image: url('https://app.vueanalytics.co/static/VueLogo02.png');
	background-size: cover;
}

.mainAppTitleBar {
	height: 50px;
	background-color: #222326;
	/*border-bottom: 1px solid #2C2C2C;*/
}

.mainContainer {
	background-color: #121314;
	width: 100%;
	height: calc(100% - 50px);
	color: #f7f7f7;
}

.mainApp {
	margin-left: 100px;
	margin-top: 50px;
	height: 100%;
	font-family: "Lato", sans-serif;
	font-weight: 300;
	width: calc(100% - 50px);
	position: fixed;
}

.btn-vue {
	float: right;
	margin-top: 10px;
	display: inline-block;
	margin-bottom: 0;
	font-weight: 400;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	white-space: nowrap;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border-radius: 3px;
	color: white;
	background-color: #68DBC0; /*#47AF90;*/
	padding: 6px 12px;
	font-size: 12px;
	line-height: 1.42857143;
	letter-spacing: 2px;
	height: 30px;
}

.btn-vue-inverse {
	color: rgb(94, 94, 94);
	background-color: rgba(71, 175, 144, 0);
	border: 1px solid rgb(94, 94, 94);
}

.btn-vue:hover {
	color: white;
	background-color: #41A083;
}

.btn-vue-inverse:hover {
	color: rgb(94, 94, 94);
	background-color: rgba(167, 167, 167, 0.08);
	border: 1px solid rgb(94, 94, 94);
}

input {
	color: #000;
}