<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Filmy</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- inject:html -->
	<!-- any *.html files among your sources will go here as: <link rel="import" href="FILE"> -->
	<!-- endinject -->
	<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css"></script>
	<!-- inject:css -->
	<!-- any *.css files among your sources will go here as: <link rel="stylesheet" href="FILE"> -->
	<!-- endinject -->
</head>
<body ng-app="filmy">
<div class="results" ng-controller="filmyController as ctrl">
	<h1>Filmy</h1>
	<p>Search for film: </p>
	<input type="text" placeholder="Film name" ng-model="query.title">
	<a href="#" ng-click="searchMovie(query.title)"><button >Search</button></a>
	<p><strong>Title</strong>: {{ film.Title }}</p>
	<p><strong>Rated</strong>: {{ film.Rated}} </p>
	<p><strong>Year:</strong> {{ film.Year }}</p>
	<p><strong>Released:</strong> {{ film.Released }}</p>
	<p><strong>Runtime:</strong> {{ film.Runtime }}</p>
	<p><strong>Genre:</strong> {{ film.Genre }}</p>
	<p><strong>Actors:</strong> {{ film.Actors }}</p>
	<p><strong>Plot:</strong> {{ film.Plot }}</p>
	<a href="#" ng-click="saveMovie()"><button>Add to Library</button></a>
	 <a href="#" ng-click="showCollection()"><button>Show Collection</button></a>
	<div>
		<ul ng-repeat="film in collections">
			<li>{{ film.title }} <a href="#"><span ng-click="deleteFilm(film)">(-)</span></a></li>
		</ul>
	</div>
</div>
	<script src="bower_components/jquery/dist/jquery.js"></script>
	<script src="bower_components/angularjs/angular.js"></script>
	<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
	<!-- inject:js -->
	<!-- any *.js files among your sources will go here as: <script src="FILE"></script> -->
	<!-- endinject -->
</body>
</html>